<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-question-sent-heading"
        data-cy="QuestionSentCreateUpdateHeading"
        jhiTranslate="gatewayApp.sendQuestionContextQuestionSent.home.createOrEditLabel"
      >
        Create or edit a Question Sent
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.sendQuestionContextQuestionSent.resource" for="field_resource">Resource</label>
          <input type="number" class="form-control" name="resource" id="field_resource" data-cy="resource" formControlName="resource" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.sendQuestionContextQuestionSent.sentDate" for="field_sentDate"
            >Sent Date</label
          >
          <div class="input-group">
            <input
              id="field_sentDate"
              data-cy="sentDate"
              type="text"
              class="form-control"
              name="sentDate"
              ngbDatepicker
              #sentDateDp="ngbDatepicker"
              formControlName="sentDate"
            />
            <button type="button" class="btn btn-secondary" (click)="sentDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.sendQuestionContextQuestionSent.viewedDate" for="field_viewedDate"
            >Viewed Date</label
          >
          <div class="input-group">
            <input
              id="field_viewedDate"
              data-cy="viewedDate"
              type="text"
              class="form-control"
              name="viewedDate"
              ngbDatepicker
              #viewedDateDp="ngbDatepicker"
              formControlName="viewedDate"
            />
            <button type="button" class="btn btn-secondary" (click)="viewedDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.sendQuestionContextQuestionSent.answeredDate" for="field_answeredDate"
            >Answered Date</label
          >
          <div class="input-group">
            <input
              id="field_answeredDate"
              data-cy="answeredDate"
              type="text"
              class="form-control"
              name="answeredDate"
              ngbDatepicker
              #answeredDateDp="ngbDatepicker"
              formControlName="answeredDate"
            />
            <button type="button" class="btn btn-secondary" (click)="answeredDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.sendQuestionContextQuestionSent.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'gatewayApp.QuestionNotificationStatus.null' | translate }}</option>
            <option *ngFor="let questionNotificationStatus of questionNotificationStatusValues" [value]="questionNotificationStatus">
              {{ 'gatewayApp.QuestionNotificationStatus.' + questionNotificationStatus | translate }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
