<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="statisticSubjectTag">
      <h2 data-cy="statisticSubjectTagDetailsHeading">
        <span jhiTranslate="gatewayApp.statisticSubjectTag.detail.title">Statistic Subject Tag</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ statisticSubjectTag.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.statisticSubjectTag.tagId">Tag Id</span></dt>
        <dd>
          <span>{{ statisticSubjectTag.tagId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
    </div>
  </div>
</div>
