<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="createdQuestionEvent">
      <h2 data-cy="createdQuestionEventDetailsHeading">
        <span jhiTranslate="gatewayApp.createdQuestionEvent.detail.title">Created Question Event</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ createdQuestionEvent.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.createdQuestionEvent.questionAndTag">Question And Tag</span></dt>
        <dd>
          <div *ngIf="createdQuestionEvent.questionAndTag">
            <a [routerLink]="['/question-sent', createdQuestionEvent.questionAndTag.id, 'view']">{{
              createdQuestionEvent.questionAndTag.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
    </div>
  </div>
</div>
