<div>
  <h2 id="page-heading" data-cy="TagChoicesListCommandHeading">
    <span jhiTranslate="gatewayApp.tagChoicesListCommand.home.title">Tag Choices List Commands</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.tagChoicesListCommand.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tag-choices-list-command"
        [routerLink]="['/tag-choices-list-command/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.tagChoicesListCommand.home.createLabel"> Create a new Tag Choices List Command </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tagChoicesListCommands?.length === 0">
    <span jhiTranslate="gatewayApp.tagChoicesListCommand.home.notFound">No Tag Choices List Commands found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="tagChoicesListCommands && tagChoicesListCommands.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tagChoicesListCommand of tagChoicesListCommands; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tag-choices-list-command', tagChoicesListCommand.id, 'view']">{{ tagChoicesListCommand.id }}</a>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tag-choices-list-command', tagChoicesListCommand.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tag-choices-list-command', tagChoicesListCommand.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tagChoicesListCommand)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
