<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="createTagCommand">
      <h2 data-cy="createTagCommandDetailsHeading">
        <span jhiTranslate="gatewayApp.createTagCommand.detail.title">Create Tag Command</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ createTagCommand.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.createTagCommand.tag">Tag</span></dt>
        <dd>
          <div *ngIf="createTagCommand.tag">
            <a [routerLink]="['/tag', createTagCommand.tag.id, 'view']">{{ createTagCommand.tag.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/create-tag-command', createTagCommand.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
