<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="sendQuestionByTagsPreferencesCommand">
      <h2 data-cy="sendQuestionByTagsPreferencesCommandDetailsHeading">
        <span jhiTranslate="gatewayApp.sendQuestionByTagsPreferencesCommand.detail.title">Send Question By Tags Preferences Command</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ sendQuestionByTagsPreferencesCommand.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.sendQuestionByTagsPreferencesCommand.questionSent">Question Sent</span></dt>
        <dd>
          <div *ngIf="sendQuestionByTagsPreferencesCommand.questionSent">
            <a [routerLink]="['/question-sent', sendQuestionByTagsPreferencesCommand.questionSent.id, 'view']">{{
              sendQuestionByTagsPreferencesCommand.questionSent.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/send-question-by-tags-preferences-command', sendQuestionByTagsPreferencesCommand.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
