<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="answeredTag">
      <h2 data-cy="answeredTagDetailsHeading"><span jhiTranslate="gatewayApp.answeredTag.detail.title">Answered Tag</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ answeredTag.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.answeredTag.tagId">Tag Id</span></dt>
        <dd>
          <span>{{ answeredTag.tagId }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.answeredTag.name">Name</span></dt>
        <dd>
          <span>{{ answeredTag.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
    </div>
  </div>
</div>
