<div>
  <h2 id="page-heading" data-cy="UserWithPreferencesIdHeading">
    <span jhiTranslate="gatewayApp.userWithPreferencesId.home.title">User With Preferences Ids</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.userWithPreferencesId.home.refreshListLabel">Refresh list</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userWithPreferencesIds?.length === 0">
    <span jhiTranslate="gatewayApp.userWithPreferencesId.home.notFound">No User With Preferences Ids found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="userWithPreferencesIds && userWithPreferencesIds.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userId">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.userWithPreferencesId.userId">User Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userWithPreferencesId of userWithPreferencesIds; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-with-preferences-id', userWithPreferencesId.id, 'view']">{{ userWithPreferencesId.id }}</a>
          </td>
          <td>{{ userWithPreferencesId.userId }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user-with-preferences-id', userWithPreferencesId.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
