<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-point-award-rule-heading"
        data-cy="PointAwardRuleCreateUpdateHeading"
        jhiTranslate="gatewayApp.evaluationContextPointAwardRule.home.createOrEditLabel"
      >
        Create or edit a Point Award Rule
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.evaluationContextPointAwardRule.scoreEvolution" for="field_scoreEvolution"
            >Score Evolution</label
          >
          <input
            type="number"
            class="form-control"
            name="scoreEvolution"
            id="field_scoreEvolution"
            data-cy="scoreEvolution"
            formControlName="scoreEvolution"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.evaluationContextPointAwardRule.difficultyLevel" for="field_difficultyLevel"
            >Difficulty Level</label
          >
          <select
            class="form-control"
            name="difficultyLevel"
            formControlName="difficultyLevel"
            id="field_difficultyLevel"
            data-cy="difficultyLevel"
          >
            <option [ngValue]="null">{{ 'gatewayApp.DifficultyLevel.null' | translate }}</option>
            <option *ngFor="let difficultyLevel of difficultyLevelValues" [value]="difficultyLevel">
              {{ 'gatewayApp.DifficultyLevel.' + difficultyLevel | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.evaluationContextPointAwardRule.userLevel" for="field_userLevel"
            >User Level</label
          >
          <select class="form-control" name="userLevel" formControlName="userLevel" id="field_userLevel" data-cy="userLevel">
            <option [ngValue]="null">{{ 'gatewayApp.UserLevel.null' | translate }}</option>
            <option *ngFor="let userLevel of userLevelValues" [value]="userLevel">
              {{ 'gatewayApp.UserLevel.' + userLevel | translate }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
