<div>
  <h2 id="page-heading" data-cy="QuestionResourceHeading">
    <span jhiTranslate="gatewayApp.questionContextQuestionResource.home.title">Question Resources</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.questionContextQuestionResource.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-question-resource"
        [routerLink]="['/question-resource/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.questionContextQuestionResource.home.createLabel"> Create a new Question Resource </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="questionResources?.length === 0">
    <span jhiTranslate="gatewayApp.questionContextQuestionResource.home.notFound">No Question Resources found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="questionResources && questionResources.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="questionContent">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.questionContextQuestionResource.questionContent">Question Content</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tag">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.questionContextQuestionResource.tag">Tag</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="questionState">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.questionContextQuestionResource.questionState">Question State</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="resourceType">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.questionContextQuestionResource.resourceType">Resource Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let questionResource of questionResources; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/question-resource', questionResource.id, 'view']">{{ questionResource.id }}</a>
          </td>
          <td>{{ questionResource.questionContent }}</td>
          <td>{{ questionResource.tag }}</td>
          <td jhiTranslate="{{ 'gatewayApp.States.' + questionResource.questionState }}">{{ questionResource.questionState }}</td>
          <td jhiTranslate="{{ 'gatewayApp.Types.' + questionResource.resourceType }}">{{ questionResource.resourceType }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/question-resource', questionResource.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/question-resource', questionResource.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(questionResource)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
