<div>
  <h2 id="page-heading" data-cy="ResourceRefusedAssociationEventHeading">
    <span jhiTranslate="gatewayApp.resourceRefusedAssociationEvent.home.title">Resource Refused Association Events</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.resourceRefusedAssociationEvent.home.refreshListLabel">Refresh list</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="resourceRefusedAssociationEvents?.length === 0">
    <span jhiTranslate="gatewayApp.resourceRefusedAssociationEvent.home.notFound">No Resource Refused Association Events found</span>
  </div>

  <div
    class="table-responsive table-entities"
    id="entities"
    *ngIf="resourceRefusedAssociationEvents && resourceRefusedAssociationEvents.length > 0"
  >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="questionId.id">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.resourceRefusedAssociationEvent.questionId">Question Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tagId.id">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.resourceRefusedAssociationEvent.tagId">Tag Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resourceRefusedAssociationEvent of resourceRefusedAssociationEvents; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/resource-refused-association-event', resourceRefusedAssociationEvent.id, 'view']">{{
              resourceRefusedAssociationEvent.id
            }}</a>
          </td>
          <td>
            <div *ngIf="resourceRefusedAssociationEvent.questionId">
              <a [routerLink]="['/question-resource', resourceRefusedAssociationEvent.questionId.id, 'view']">{{
                resourceRefusedAssociationEvent.questionId.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="resourceRefusedAssociationEvent.tagId">
              <a [routerLink]="['/question-resource-tag-infos', resourceRefusedAssociationEvent.tagId.id, 'view']">{{
                resourceRefusedAssociationEvent.tagId.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/resource-refused-association-event', resourceRefusedAssociationEvent.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
