<div>
  <h2 id="page-heading" data-cy="ResourceAcceptedAssociationEventHeading">
    <span jhiTranslate="gatewayApp.resourceAcceptedAssociationEvent.home.title">Resource Accepted Association Events</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.resourceAcceptedAssociationEvent.home.refreshListLabel">Refresh list</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="resourceAcceptedAssociationEvents?.length === 0">
    <span jhiTranslate="gatewayApp.resourceAcceptedAssociationEvent.home.notFound">No Resource Accepted Association Events found</span>
  </div>

  <div
    class="table-responsive table-entities"
    id="entities"
    *ngIf="resourceAcceptedAssociationEvents && resourceAcceptedAssociationEvents.length > 0"
  >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="questionId.id">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.resourceAcceptedAssociationEvent.questionId">Question Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tagId.id">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.resourceAcceptedAssociationEvent.tagId">Tag Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resourceAcceptedAssociationEvent of resourceAcceptedAssociationEvents; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/resource-accepted-association-event', resourceAcceptedAssociationEvent.id, 'view']">{{
              resourceAcceptedAssociationEvent.id
            }}</a>
          </td>
          <td>
            <div *ngIf="resourceAcceptedAssociationEvent.questionId">
              <a [routerLink]="['/question-resource', resourceAcceptedAssociationEvent.questionId.id, 'view']">{{
                resourceAcceptedAssociationEvent.questionId.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="resourceAcceptedAssociationEvent.tagId">
              <a [routerLink]="['/question-resource-tag-infos', resourceAcceptedAssociationEvent.tagId.id, 'view']">{{
                resourceAcceptedAssociationEvent.tagId.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/resource-accepted-association-event', resourceAcceptedAssociationEvent.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
