<div>
  <h2 id="page-heading" data-cy="CategoryCreatedEventHeading">
    <span jhiTranslate="gatewayApp.categoryCreatedEvent.home.title">Category Created Events</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.categoryCreatedEvent.home.refreshListLabel">Refresh list</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="categoryCreatedEvents?.length === 0">
    <span jhiTranslate="gatewayApp.categoryCreatedEvent.home.notFound">No Category Created Events found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="categoryCreatedEvents && categoryCreatedEvents.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="categoryId.id">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.categoryCreatedEvent.categoryId">Category Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoryCreatedEvent of categoryCreatedEvents; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/category-created-event', categoryCreatedEvent.id, 'view']">{{ categoryCreatedEvent.id }}</a>
          </td>
          <td>
            <div *ngIf="categoryCreatedEvent.categoryId">
              <a [routerLink]="['/category-id', categoryCreatedEvent.categoryId.id, 'view']">{{ categoryCreatedEvent.categoryId.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/category-created-event', categoryCreatedEvent.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
