<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="checkAnswerCommand">
      <h2 data-cy="checkAnswerCommandDetailsHeading">
        <span jhiTranslate="gatewayApp.checkAnswerCommand.detail.title">Check Answer Command</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ checkAnswerCommand.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.checkAnswerCommand.answer">Answer</span></dt>
        <dd>
          <div *ngIf="checkAnswerCommand.answer">
            <a [routerLink]="['/evaluated-answer', checkAnswerCommand.answer.id, 'view']">{{ checkAnswerCommand.answer.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/check-answer-command', checkAnswerCommand.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
