<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="pointAwardRule">
      <h2 data-cy="pointAwardRuleDetailsHeading">
        <span jhiTranslate="gatewayApp.evaluationContextPointAwardRule.detail.title">Point Award Rule</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ pointAwardRule.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.evaluationContextPointAwardRule.scoreEvolution">Score Evolution</span></dt>
        <dd>
          <span>{{ pointAwardRule.scoreEvolution }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.evaluationContextPointAwardRule.difficultyLevel">Difficulty Level</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gatewayApp.DifficultyLevel.' + pointAwardRule.difficultyLevel }}">{{
            pointAwardRule.difficultyLevel
          }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.evaluationContextPointAwardRule.userLevel">User Level</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gatewayApp.UserLevel.' + pointAwardRule.userLevel }}">{{ pointAwardRule.userLevel }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/point-award-rule', pointAwardRule.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
