<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="userPreferences">
      <h2 data-cy="userPreferencesDetailsHeading">
        <span jhiTranslate="gatewayApp.sendQuestionContextUserPreferences.detail.title">User Preferences</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ userPreferences.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.sendQuestionContextUserPreferences.user">User</span></dt>
        <dd>
          <div *ngIf="userPreferences.user">
            <a [routerLink]="['/user-with-preferences-id', userPreferences.user.id, 'view']">{{ userPreferences.user.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/user-preferences', userPreferences.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
