<div>
  <h2 id="page-heading" data-cy="CreateQuestionCommandHeading">
    <span jhiTranslate="gatewayApp.createQuestionCommand.home.title">Create Question Commands</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.createQuestionCommand.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-create-question-command"
        [routerLink]="['/create-question-command/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.createQuestionCommand.home.createLabel"> Create a new Create Question Command </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="createQuestionCommands?.length === 0">
    <span jhiTranslate="gatewayApp.createQuestionCommand.home.notFound">No Create Question Commands found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="createQuestionCommands && createQuestionCommands.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="resource.id">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.createQuestionCommand.resource">Resource</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let createQuestionCommand of createQuestionCommands; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/create-question-command', createQuestionCommand.id, 'view']">{{ createQuestionCommand.id }}</a>
          </td>
          <td>
            <div *ngIf="createQuestionCommand.resource">
              <a [routerLink]="['/question-sent-question-resource-tag-id', createQuestionCommand.resource.id, 'view']">{{
                createQuestionCommand.resource.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/create-question-command', createQuestionCommand.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/create-question-command', createQuestionCommand.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(createQuestionCommand)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
