<div>
  <h2 id="page-heading" data-cy="QuestionSentQuestionResourceTagIdHeading">
    <span jhiTranslate="gatewayApp.questionSentQuestionResourceTagId.home.title">Question Sent Question Resource Tag Ids</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.questionSentQuestionResourceTagId.home.refreshListLabel">Refresh list</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="questionSentQuestionResourceTagIds?.length === 0">
    <span jhiTranslate="gatewayApp.questionSentQuestionResourceTagId.home.notFound">No Question Sent Question Resource Tag Ids found</span>
  </div>

  <div
    class="table-responsive table-entities"
    id="entities"
    *ngIf="questionSentQuestionResourceTagIds && questionSentQuestionResourceTagIds.length > 0"
  >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tagId">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.questionSentQuestionResourceTagId.tagId">Tag Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let questionSentQuestionResourceTagId of questionSentQuestionResourceTagIds; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/question-sent-question-resource-tag-id', questionSentQuestionResourceTagId.id, 'view']">{{
              questionSentQuestionResourceTagId.id
            }}</a>
          </td>
          <td>{{ questionSentQuestionResourceTagId.tagId }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/question-sent-question-resource-tag-id', questionSentQuestionResourceTagId.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
