<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="userPreferencesTagInfos">
      <h2 data-cy="userPreferencesTagInfosDetailsHeading">
        <span jhiTranslate="gatewayApp.userPreferencesTagInfos.detail.title">User Preferences Tag Infos</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ userPreferencesTagInfos.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.userPreferencesTagInfos.tagId">Tag Id</span></dt>
        <dd>
          <span>{{ userPreferencesTagInfos.tagId }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.userPreferencesTagInfos.name">Name</span></dt>
        <dd>
          <span>{{ userPreferencesTagInfos.name }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.userPreferencesTagInfos.userPreferences">User Preferences</span></dt>
        <dd>
          <div *ngIf="userPreferencesTagInfos.userPreferences">
            <a [routerLink]="['/user-preferences', userPreferencesTagInfos.userPreferences.id, 'view']">{{
              userPreferencesTagInfos.userPreferences.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
    </div>
  </div>
</div>
