<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="questionResourceTagInfos">
      <h2 data-cy="questionResourceTagInfosDetailsHeading">
        <span jhiTranslate="gatewayApp.questionResourceTagInfos.detail.title">Question Resource Tag Infos</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ questionResourceTagInfos.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.questionResourceTagInfos.tagId">Tag Id</span></dt>
        <dd>
          <span>{{ questionResourceTagInfos.tagId }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.questionResourceTagInfos.name">Name</span></dt>
        <dd>
          <span>{{ questionResourceTagInfos.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
    </div>
  </div>
</div>
