<div>
  <h2 id="page-heading" data-cy="QuestionSentHeading">
    <span jhiTranslate="gatewayApp.sendQuestionContextQuestionSent.home.title">Question Sents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.sendQuestionContextQuestionSent.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-question-sent"
        [routerLink]="['/question-sent/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.sendQuestionContextQuestionSent.home.createLabel"> Create a new Question Sent </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="questionSents?.length === 0">
    <span jhiTranslate="gatewayApp.sendQuestionContextQuestionSent.home.notFound">No Question Sents found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="questionSents && questionSents.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="resource">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.sendQuestionContextQuestionSent.resource">Resource</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sentDate">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.sendQuestionContextQuestionSent.sentDate">Sent Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="viewedDate">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.sendQuestionContextQuestionSent.viewedDate">Viewed Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="answeredDate">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.sendQuestionContextQuestionSent.answeredDate">Answered Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.sendQuestionContextQuestionSent.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let questionSent of questionSents; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/question-sent', questionSent.id, 'view']">{{ questionSent.id }}</a>
          </td>
          <td>{{ questionSent.resource }}</td>
          <td>{{ questionSent.sentDate | formatMediumDate }}</td>
          <td>{{ questionSent.viewedDate | formatMediumDate }}</td>
          <td>{{ questionSent.answeredDate | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'gatewayApp.QuestionNotificationStatus.' + questionSent.status }}">{{ questionSent.status }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/question-sent', questionSent.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/question-sent', questionSent.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(questionSent)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
