<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="createQuestionCommand">
      <h2 data-cy="createQuestionCommandDetailsHeading">
        <span jhiTranslate="gatewayApp.createQuestionCommand.detail.title">Create Question Command</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ createQuestionCommand.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.createQuestionCommand.resource">Resource</span></dt>
        <dd>
          <div *ngIf="createQuestionCommand.resource">
            <a [routerLink]="['/question-sent-question-resource-tag-id', createQuestionCommand.resource.id, 'view']">{{
              createQuestionCommand.resource.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/create-question-command', createQuestionCommand.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
