<div>
  <h2 id="page-heading" data-cy="UserPreferencesTagInfosHeading">
    <span jhiTranslate="gatewayApp.userPreferencesTagInfos.home.title">User Preferences Tag Infos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.userPreferencesTagInfos.home.refreshListLabel">Refresh list</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userPreferencesTagInfos?.length === 0">
    <span jhiTranslate="gatewayApp.userPreferencesTagInfos.home.notFound">No User Preferences Tag Infos found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="userPreferencesTagInfos && userPreferencesTagInfos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tagId">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.userPreferencesTagInfos.tagId">Tag Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.userPreferencesTagInfos.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userPreferences.id">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.userPreferencesTagInfos.userPreferences">User Preferences</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userPreferencesTagInfos of userPreferencesTagInfos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-preferences-tag-infos', userPreferencesTagInfos.id, 'view']">{{ userPreferencesTagInfos.id }}</a>
          </td>
          <td>{{ userPreferencesTagInfos.tagId }}</td>
          <td>{{ userPreferencesTagInfos.name }}</td>
          <td>
            <div *ngIf="userPreferencesTagInfos.userPreferences">
              <a [routerLink]="['/user-preferences', userPreferencesTagInfos.userPreferences.id, 'view']">{{
                userPreferencesTagInfos.userPreferences.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user-preferences-tag-infos', userPreferencesTagInfos.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
