<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="createCategoryCommand">
      <h2 data-cy="createCategoryCommandDetailsHeading">
        <span jhiTranslate="gatewayApp.createCategoryCommand.detail.title">Create Category Command</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ createCategoryCommand.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.createCategoryCommand.category">Category</span></dt>
        <dd>
          <div *ngIf="createCategoryCommand.category">
            <a [routerLink]="['/category', createCategoryCommand.category.id, 'view']">{{ createCategoryCommand.category.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/create-category-command', createCategoryCommand.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
