<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="resourceAcceptedAssociationEvent">
      <h2 data-cy="resourceAcceptedAssociationEventDetailsHeading">
        <span jhiTranslate="gatewayApp.resourceAcceptedAssociationEvent.detail.title">Resource Accepted Association Event</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ resourceAcceptedAssociationEvent.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resourceAcceptedAssociationEvent.questionId">Question Id</span></dt>
        <dd>
          <div *ngIf="resourceAcceptedAssociationEvent.questionId">
            <a [routerLink]="['/question-resource', resourceAcceptedAssociationEvent.questionId.id, 'view']">{{
              resourceAcceptedAssociationEvent.questionId.id
            }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resourceAcceptedAssociationEvent.tagId">Tag Id</span></dt>
        <dd>
          <div *ngIf="resourceAcceptedAssociationEvent.tagId">
            <a [routerLink]="['/question-resource-tag-infos', resourceAcceptedAssociationEvent.tagId.id, 'view']">{{
              resourceAcceptedAssociationEvent.tagId.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
    </div>
  </div>
</div>
