<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="answer">
      <h2 data-cy="answerDetailsHeading"><span jhiTranslate="gatewayApp.answerContextAnswer.detail.title">Answer</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ answer.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.answerContextAnswer.user">User</span></dt>
        <dd>
          <span>{{ answer.user }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.answerContextAnswer.question">Question</span></dt>
        <dd>
          <div *ngIf="answer.question">
            <a [routerLink]="['/question-id', answer.question.id, 'view']">{{ answer.question.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.answerContextAnswer.answeredTag">Answered Tag</span></dt>
        <dd>
          <div *ngIf="answer.answeredTag">
            <a [routerLink]="['/answered-tag', answer.answeredTag.id, 'view']">{{ answer.answeredTag.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/answer', answer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
