<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="validateResourceTagLinkageCommand">
      <h2 data-cy="validateResourceTagLinkageCommandDetailsHeading">
        <span jhiTranslate="gatewayApp.validateResourceTagLinkageCommand.detail.title">Validate Resource Tag Linkage Command</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ validateResourceTagLinkageCommand.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.validateResourceTagLinkageCommand.questionId">Question Id</span></dt>
        <dd>
          <div *ngIf="validateResourceTagLinkageCommand.questionId">
            <a [routerLink]="['/question-resource', validateResourceTagLinkageCommand.questionId.id, 'view']">{{
              validateResourceTagLinkageCommand.questionId.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/validate-resource-tag-linkage-command', validateResourceTagLinkageCommand.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
